*{
    box-sizing: border-box;
    font-family: cursive;
    margin: 0;
}
.part1{
    width: 20%;
}
.part2{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.part3{
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.a:hover{
    color: blue;
}
.a{
    text-decoration: none;
    color: black;
}
.aa{
    text-decoration: none;
    color: blue;
    width: 100%;
}
.aa:hover{
    color: red;
    font-size: 18px;
}
.spn1{
    background-color: green;
    padding: 8px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.spn2{
    background-color: green;
    padding: 8px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.bosh{
    position: relative;
}
.bosh2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    width: 45px;
    border: 2px solid blue;
    text-align: center;
    display: none;
    border-radius: 10px;
}
.bosh3{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    width: 50px;
    border: 2px solid blue;
    text-align: center;
    display: none;
    border-radius: 10px;
}
.bosh:hover .bosh2{
    display: block;
}
.bosh:hover .bosh3{
    display: block;
}
.all{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: silver;
    padding: 20px;
}
.pp{
    font-family: cursive;
}
.btn{
    background-color: orange;
    padding: 8px 10px;    
    border-radius: 10px;
    border: 2px solid yellow;
}
.h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mmm{
    width: 30%;
    margin-left: 100px;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.all2{
    border: 1px solid rgba(245, 222, 179, 0.411) ;
    max-width: 100%;
    background-color: rgba(245, 222, 179, 0.411);
    background-image:  url("Background\ \(2\).png");
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
.h3{
    align-items: center;
}
.box5{
    background-image: url("Image\ \(1\).png");
    background-position: center;
    background-size: cover;
    width: 45%;
    height: 200px;
    border-radius: 20px;
    background-repeat: no-repeat;
}
.box6{
    background-image: url("nnn.png");
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 20px;
    width: 45%;
    background-repeat: no-repeat;
}
.all3{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
.nnn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin-top: 70px;
}
.all{
    z-index: 99999;
    position:fixed;
}
/* .all2{
    margin-top: 100px;
} */
.brbr{
    position:  relative;
}
.bor{
    width: 100%;
}
.yoq{
    width: 100%;
    text-align: center;
}
.ooo{
    width: 50%;
}
.pol{
    font-size: 20px;
    color: lime;
    font-family: cursive;
}
.ccc{
    margin-top: 10px;
    margin-bottom: 10px;
}
.tree:hover{
    background-color: aqua;
}
.tree{
    margin-top: 10px;
    width: 100%;
    background-color: silver;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
}
.pib{
    line-height: 1.6;
}
.h31{
    font-size: 20px;
}
.btnnn{
    margin-top: 10px;
    background-color: black;
    padding: 8px;
    border-radius: 10px;
    color: white;
}
.all4{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: whitesmoke;
    width: 90%;
    border-radius: 40px;
    margin: auto;
}
.pic007{
    width: 100%;
}
.brbrr{
    width: 25%;
    background-image: url("Photo\ \(1\).png");
    position: relative;
    background-position: center;
    background-size: cover;
    border: 2px solid silver;
    border-radius: 20px;
}
.brbr1{
    width: 25%;
    background-image: url("Photo\ \(2\).png");
    position: relative;
    background-position: center;
    background-size: cover;
    border: 2px solid silver;
    border-radius: 20px;
}
.brbr2{
    width: 25%;
    background-image: url("Photo\ \(3\).png");
    position: relative;
    background-position: center;
    background-size: cover;
    border: 2px solid silver;
    border-radius: 20px;
}
.brbr3{
    width: 25%;
    background-image: url("Photo\ \(4\).png");
    position: relative;
    background-position: center;
    background-size: cover;
    border: 2px solid silver;
    border-radius: 20px;
}
.brbr4{
    width: 25%;
    background-image: url("Photo\ \(5\).png");
    position: relative;
    background-position: center;
    background-size: cover;
    border: 2px solid silver;
    border-radius: 20px;
}
.brbr5{
    width: 25%;
    background-image: url("Photo\ \(6\).png");
    position: relative;
    background-position: center;
    background-size: cover;
    border: 2px solid silver;
    border-radius: 20px;
}
.brbr6{
    width: 25%;
    background-image: url("Photo\ \(7\).png");
    position: relative;
    background-position: center;
    background-size: cover;
    border: 2px solid silver;
    border-radius: 20px;
}
.brbr7{
    width: 25%;
    background-image: url("Photo\ \(8\).png");
    position: relative;
    background-position: center;
    background-size: cover;
    border: 2px solid silver;
    border-radius: 20px;
}
.brbr8{
    width: 25%;
    background-image: url("Image\ \(3\).png");
    position: relative;
    background-position: center;
    background-size: cover;
    border: 2px solid silver;
    border-radius: 20px;
}
.bttn{
    position: absolute;
    top: 5px;
    left: 5px;
    margin-top: 10px;
    background-color: black;
    padding: 8px;
    border-radius: 10px;
    color: white;
}
.pit{
    border-bottom: 2px solid silver;
    width: 200px;
    margin-bottom: 5px;
}
.mnmn{
    padding: 10px;
    margin-top: 100px;
}
.spn777{
    opacity: 0.2;
    margin-right: 8px;
}
.piy{
    margin-top: 5px;
}
.brbrlar{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.ppoi{
    color: lime;
    font-size: 23px;
    text-align: center;
    margin-top: 50px;
}
.h23{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.in{
    padding: 20px 40px;
    border: 2px solid blue;
    border-radius: 15px;
}
.bbtn{
    padding: 15px;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 20px;
}
.bbtnm{
    padding: 15px;
    border-radius: 15px;
    background-color: orange;
    color: white;
    border: none;
    font-size: 20px;
}
.jjg{
    font-size: 13px;
}
.bmw{
    align-items: center;
}
.dog{
    text-align: center;
}
.pul{
    margin-top: 50px;
}
.e{
    margin-top: 20px;
    margin-bottom: 20px;
}
.par{
    margin-bottom: 100px;
}
.catt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding: 30px 50px; 
    background-image: url("Background\ \(1\).png");
    border-radius: 15px;
    align-items: center;
    height: 200px;
    margin-top: 300px;
    margin-left: 150px;
    /* margin: auto; */
}
.cat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    padding: 30px 50px; 
    background-image: url("Background\ \(1\).png");
    border-radius: 15px;
    align-items: center;
    height: 200px;
    margin-left: 500px;
}
.bmt{
    width: 30%;
}
.bmw{
    width: 70%;
}
.all6{
    background-image: url("Background.png");
    background-size: cover;
    width: 100%;
    height: 500px;
    max-width: 100%;
}
.gfgf{
    width: 40%;
    margin-left: 30px;
}
.bnbn{
    width: 45%;
    text-align: center;
}
.all7{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin: auto;
    padding: 30px;
}
.kj{
    color: lime;
    font-size: 20px;
}
.hg{
    color: white;
    font-size: 30px;
    margin-top: 20px;
}
.mhmh{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    /* margin-top: 50px;
    margin-bottom: 50px; */
}
.ntnt{
    background-color: darkgreen;
}
.pic777{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bore{
    width: 70%;
    padding: 5px;
    border-radius: 30px;
    position: absolute;
    right: 0px;
    background-color: white;
}
.sbsb{
    width: 50%;
}
.das{
    margin-top: 10px;
    margin-bottom: 10px;
}
.ngng{
    margin-bottom: 20px;
}
.bsbs{
    width: 50%;
}
.op{
    font-family: cursive;
    color: lime;
}
.sdd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.ntntd{
    width: 32%;
    position: relative;
}
.nbtn{
    position: absolute;
    right: 40%;
    border-radius: 10px;
    left: 40%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}
.bfbff{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
.qarz{
    background-color: whitesmoke;
    padding: 50px 30px;
}
.hfhf{
    width: 50%;
}
.fhfh{
    width: 50%;
    margin-top: 20px;
}
.red{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    align-items: center;
    margin: auto;
}
.buy{
    background-color: orange;
    padding: 8px;
    font-size: 20px;
    align-items: center;
    border: none;
    border-radius: 20px;
}













.box1f{
    width: 48%;
    position: relative;
}
.btnr{
    background-color: white;
    padding: 8px;
    border-radius: 55%;
    position: absolute;
    left: 20px;
    top: 20px;
}
.box2f{
    border-radius: 20px;
    position: relative;
    width: 48%;

}
.boshqaw{
    background-color: whitesmoke;
    padding: 15px;
    position: absolute;
    width: 80%;
    top: 230px;
    border-radius: 20px;
    margin: auto;
    left: 90px;
}
.boshqaw1{
    right: 90px;
    width: 80%;
    background-color: whitesmoke;
    padding: 15px;
    position: absolute;
    top: 230px;
    border-radius: 20px;
}
.h2q{
    margin-top: 10px;
}
.pq{
    margin-top: 10px;
}
.btn1u{
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
}
.bor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.alle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}
.picd1{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 35px;
    height: auto;
    width: 100%;
}
.picd2{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
    border-radius: 15px;
}
.woxruz{
    width: 20%;
}
.ozod{
    width: 30%;
    border-left: 1px solid #000;
    padding: 20px;
    border-right: 1px solid #000;
}
.wery{
    font-size: 19px;
}
.bexruz{
    width: 10%;
}
.nyny{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    margin-top: 50px;
}